{% extends "base.html" %}

{% block content %}

<div class="container">

<h1>🎲 Media Roulette</h1>

<h2>Anmelden</h2>


<form method="post" action="/login">

    <label>
        Server:
    </label>

    <select name="server_type">
        <option value="jellyfin">
            Jellyfin
        </option>

        <option value="emby">
            Emby
        </option>
    </select>


    <br><br>


    <label>
        Server URL:
    </label>

    <input 
        type="text"
        name="server_url"
        placeholder="http://192.168.1.10:8096"
        required
    >


    <br><br>


    <label>
        Benutzername:
    </label>

    <input
        type="text"
        name="username"
        required
    >


    <br><br>


    <label>
        Passwort:
    </label>

    <input
        type="password"
        name="password"
        required
    >


    <br><br>


    <button type="submit">
        Anmelden
    </button>

</form>


</div>

{% endblock %}
